// Font paths
// -------------------------

@font-face {
  font-family: "FOA";
  src: url("../fonts/FOA.eot");
  src: url("../fonts/FOA.eot?#iefix") format("embedded-opentype"),
  url("../fonts/FOA.woff2") format("woff2"),
  url("../fonts/FOA.woff") format("woff"),
  url("../fonts/FOA.ttf") format("truetype"),
  url("../fonts/FOA.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "FOA";
    src: url("../fonts/FOA.svg#FOA") format("svg");
  }
}
