// Variables
// --------------------------

$icons8-css-prefix: "icons8";
$icons8-font-name: "FOA";
$icons8-font-path: "../fonts";

$icons8-var-book-shelf: "\f101";
$icons8-var-home: "\f102";
$icons8-var-forward: "\f103";
$icons8-var-group: "\f104";
$icons8-var-shopping-bag-full: "\f105";
$icons8-var-chat-bubble: "\f106";
$icons8-var-news: "\f107";
$icons8-var-menu-vertical: "\f108";
$icons8-var-marker: "\f109";
$icons8-var-clock: "\f10a";
$icons8-var-conference: "\f10b";
$icons8-var-user: "\f10c";
$icons8-var-info: "\f10d";
$icons8-var-exit: "\f10e";
$icons8-var-add: "\f10f";
$icons8-var-delete: "\f110";
